<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geeek</title>
    <link rel="stylesheet" href="../css/style-home.css"/>
    <link rel="stylesheet" href="../css/style-config.css"/>
    <link rel="stylesheet" href="../css/style-produtos.css"/>
    <script defer src="../js/script-produtos.js"></script>
</head>

<body>
    <div class="container">
        <nav>
            <div class="campo-icone">
                <div id="alinhamento-logo">
                    <figure>
                        <img id="p" src="../img/simbulos-home/P.png" alt="home">
                        <img id="oint" src="../img/simbulos-home/OINT.png" alt="home">
                        <img id="geek" src="../img/simbulos-home/GEEK.png" alt="home">
                        <img id="eclipse" src="../img/simbulos-home/Ellipse 2.png" alt="">
                    </figure>
                </div>
            </div>
            <div>
                <input type="text" name="query" placeholder="O que você procura?" id="form-pesquisar" required>
                <button type="submit" id="botao-pesquisar" onclick="search()">Pesquisar</button>
            </div>
            <div class="campo-icone" id="icon-home">
                <img src="../img/simbulos-navegacao/casa.png" alt="home">
            </div>
            <div class="campo-icone">
                <div id="carrinho">
                    <span id="numero-compras">0</span>
                    <img src="../img/simbulos-navegacao/carrinho-de-compras.png" alt="carrinho">
                </div>
            </div>
            <div class="campo-icone" id="icon-config">
                <img src="../img/simbulos-navegacao/definicoes.png" alt="configuracao">
            </div>
        </nav>
        <hr>
        <div class="template-home" id="home">
            <div class="template-fundo">
                <header class=" cabecalhodo-produto">
                    <img class="produto-individul" src="../img/produtosindividuais/Demolidor  O Rei da Cozinha do Inferno200.jpg" alt="">
                </header>
                <main>
                    <section id="venom">
                        <h2 class="titulo-produto">Livro : Demolidor O Rei da Cozinha do Inferno</h2>
                        <p class="preco-produto" id="produto-venom">R$R$129.99</p>
                        
                        <p class="descricao">prem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magn liqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consecut Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sin ocaecat cupidatat non proident, suntinoulpa
                            qui officia deserunt mollit anim id est laborum</p> 
                            
                            <button class="comprar">COMPRAR</button>

                            <div class="campo-quantidade">
                                <div class="campo-icone-produtos">
                                    <div class="logo-mais">
                                        <img id="mais" src="../img/simbulos-dinamicos/sinal-de-mais.png" alt="">
                                    </div>
                                    <p class="painel-quantidade">1</p>
                                    <div class="logo-menos">
                                        <img id="menos" src="../img/simbulos-dinamicos/sinal-de-menos.png" alt="">
                                    </div>
                                </div>
                            </div>
                            
                    </section>


                </main>
                <footer class="rodape-produto">
                    <p>&copy; 2022 E-commerce PointGeek. Todos os direitos reservados.</p>
                </footer>
            </div>
        </div>

</body>

</html>