body {
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #007, #00f, #007, #00f);
    background-size: 400% 400%;
    animation: gradientAnimation 10s infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffd903;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}