<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Um bom filho a casa retorna</title>
    <link rel="stylesheet" href="css/style.css" />

</head>

<body>
    <div class="container">
        <div class="header">
            <img src="img/jujutso-login.jpg" alt="">
        </div>
        <div class="form-container">
            <div class="form-header">
                <p>Login</p>
            </div>
            <div class="form-body">
                <h1 class="form-title">Já sou Geek &#x1F60E;</h1>
                <form action="../Controller/login.php" method="POST">
                    
                    <div class="box-input">
                        <label for="email">
                            Email: <span class="required-field">*</span></label>
                        <input type="email" name="email" id="email" class="block" placeholder="Digite seu email"
                            required />
                        <span id="aviso-email"></span>
                    </div>

                    <div class="box-input">
                        <label for="senha">
                            Senha: <span class="required-field">*</span></label>
                        <input type="password" name="senha" id="senha" class="block" placeholder="Digite sua Senha "
                            required />
                        <span id="aviso-senha"></span>
                    </div>

                    <input type="submit" value="Enviar" class="btn-submit" id="enviar" />
                    <button class="btn-submit"><a id="link-login" href="cadastro.html">Ainda não sou Geek &#x1F92F; </a></button>
                </form>

            </div>
        </div>
    </div>


</body>

</html>